
####################################
# Node.js
####################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

####################################
# TypeScript
####################################
dist/
build/
*.tsbuildinfo

####################################
# Environment / Secrets
####################################
.env
.env.*
!.env.example


####################################
# Logs
####################################
logs/
*.log



####################################
# IDE / Editor
####################################
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*.swo

####################################
# Docker
####################################
*.pid
docker-data/
